<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDD8tvBeXIEQk1STfcWoCBLl_9H2HuS5F0</string>
	<key>GCM_SENDER_ID</key>
	<string>208378685722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivycomptech.MessengerClone</string>
	<key>PROJECT_ID</key>
	<string>messengerclone-a6c9f</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerclone-a6c9f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208378685722:ios:1e8ff924e26161f2a864a3</string>
</dict>
</plist>